.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.infor {
    flex: 1;
}

.name {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    font-weight: 600;
}
.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
    font-size: 1.4rem;
}
.username {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
}
